<table class="table">
    <caption>{{model.document.name}} - {{moment-format model.timestamp}}</caption>
    <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        {{#each model.attributes as |attribute|}}
        <tr>
            <td>{{attribute.key}}</td>
            <td>{{attribute.value}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
