<div class="container">
    <div class="col-lg-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Objects</h2>
            </div>
            <div class="panel-body">
                {{outlet 'documents'}}
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Data</h2>
            </div>
            {{outlet 'comparison'}}
        </div>
    </div>
</div>
