<ul>
    {{#each model as |document|}}
    <li>
        {{document.name}}
        <ul>
            {{#each document.versions as |version|}}
            <li>
                {{#link-to 'documents.versions' version.id}}{{version.timestamp}}{{/link-to}}
            </li>
            {{/each}}
        </ul>
    </li>
    {{/each}}
</ul>
