<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h2>Documents</h2>
        </div>
        <div class="col-lg-8">
            <h2>Detail</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            {{outlet 'documents'}}
        </div>
        <div class="col-lg-8">
            {{outlet 'versions'}}
        </div>
    </div>
</div>
